// home sections
.h-banner,
.h-papers,
.h-about,
.h-articles {
	// background-color: #f4f4f4;
}

.h-recent,
.h-books,
.h-lectures,
.h-organization {
	// background-color: #f8f8f8;
}
.h-sec {
	background-color: #f4f4f4;
	//background-color: #f8f8f8;
}
.h-sec:nth-child(2n) {
	//background-color: #ffffff;
	background-color: #f4f4f4;
}

.section-top {
	overflow: hidden;
}
.section-top h2 {
	position: relative;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: auto;
	margin-bottom: 2.5rem;
	padding: 0 16px;
	width: fit-content;
}
.section-top h2::before,
.section-top h2::after {
	content: "";
	width: 100px;
	height: 2px;
	position: absolute;
	top: 50%;
	display: block;
	background-color: #858997;
	opacity: 0.5;
}
.section-top h2::before {
	left: -100px;
}
.section-top h2::after {
	right: -100px;
}
.section-bottom {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}
.h-text__wrapper {
	display: flex;
	justify-content: space-between;
}
.h-text .container1,
.h-text .container2 {
	border: 1px solid #44929cf0;
	border-radius: 10px;
	width: 49%;
	padding: 1.5rem 1.5rem 3rem 1.5rem;
}
.h-text p {
	margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
	.h-sec,
	.h-sec:nth-child(2n) {
		//background-color: #f4f4f4;
		background-color: #f8f8f8;
	}
}
@media screen and (max-width: 768px) {
	.h-text__wrapper {
		flex-direction: column;
	}
	.h-text .container1,
	.h-text .container2 {
		width: 100%;
	}
	.h-text .container1 {
		margin-bottom: 1rem;
	}
}
