.opt_lecture_list {
}

.opt_lecture_list.viewport {
  overflow-x: unset;
}

.opt_lecture_cat_page_top {
  display: none;
}

.opt_lecture_page {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  // min-height: calc(100vh - 5.25rem);
}

.opt_lecture_left {
  display: block;
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 5.25rem;
  top: 7.25rem;
  z-index: 10;
  width: 270px;
}

.opt_lecture_left_cat_list {
  width: 270px;
  position: absolute;
  top: 0;
  left: 0;
}

.opt_lecture_cat_list_title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Kalpurush;
  line-height: 1.33;
  color: #2d3748;
  /* height: 3rem; */
  /* word-spacing: -0.125rem; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.opt_lecture_left_cat_list ul {
  overflow-y: auto;
  max-height: calc(100vh - 7.25rem);
  max-height: calc(100vh - 9.25rem);
  max-height: calc(100vh - 12.25rem);
  margin-right: 1rem;
  padding-right: 0.5rem;
}

// custom scrollbar
.opt_lecture_left_cat_list ul {
  overflow-y: auto !important;
  // transition: all 250ms ease;
}

// firefox
.opt_lecture_left_cat_list ul {
  scrollbar-width: thin;
  // scrollbar-color: transparent transparent;
  scrollbar-color: #dddddd transparent;
}

// .opt_lecture_left_cat_list ul:hover {
//   scrollbar-color: #dddddd transparent;
// }

// chrome
.opt_lecture_left_cat_list ul::-webkit-scrollbar {
  width: 4px;
}

.opt_lecture_left_cat_list ul::-webkit-scrollbar-track {
  box-shadow: none;
}

.opt_lecture_left_cat_list ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  background-color: #dddddd;
}

// .opt_lecture_left_cat_list ul:hover::-webkit-scrollbar-thumb {
//   background-color: #dddddd;
// }
// custom scrollbar end

.opt_lecture_left_cat_list ul li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 20px;
  transition: color 250ms ease;
  line-height: 1;
  margin-bottom: 1rem;
}
.opt_lecture_left_cat_list ul li:last-of-type {
  margin-bottom: 0;
}

.opt_lecture_left_cat_list ul li.selected,
.opt_lecture_left_cat_list ul li:hover,
.opt_lecture_left_cat_list ul li.selected::before,
.opt_lecture_left_cat_list ul li:hover::before {
  // font-weight: bold;
  color: var(--main-color);
  opacity: 1;
}

.opt_lecture_left_cat_list ul li::before {
  content: "\e5cc";
  font-family: "Material Icons";
  position: absolute;
  top: 12px;
  top: 8px;
  left: -3px;
  line-height: 0;
  color: inherit;
  opacity: 0.6;
  transition: all 250ms ease;
}

.opt_lecture_right {
  max-width: 100%;
  width: 100%;
  // width: calc(100% - 270px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.opt_lecture_title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Kalpurush;
  line-height: 2rem;
  color: #2d3748;
  margin-bottom: 1rem;
  word-spacing: -0.125rem;
}

.opt_lectures_wrapper {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .opt_page-width {
    height: 100%;
  }
  .opt_box {
    height: 100%;
  }
  .opt_lecture_cat_page_top {
    display: block;
    position: relative;
    background-color: #fff;
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
  }
  .opt_lecture_cat_page_top .select-tag-list ul {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .opt_lecture_cat_page_top .select-tag-list ul::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .opt_lecture_cat_page_top .select-tag-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 1.25rem;
    padding: 1rem 0;
    min-height: 100%;
  }
  .opt_lecture_cat_page_top .select-tag-list ul li {
    border: none;
    background: none;
    text-align: left;
    padding: 0 0 0 1.25rem;
    margin: 0 0 0.25rem;
    position: relative;
    font-size: 1rem;
  }
  .opt_lecture_cat_page_top .select-tag-list ul li:last-child {
    margin-bottom: 0;
  }
  .opt_lecture_cat_page_top .select-tag-list ul li::before {
    content: "\e5cc";
    font-family: "Material Icons";
    position: absolute;
    top: 12px;
    left: -3px;
    line-height: 0;
    color: inherit;
    opacity: 0.6;
  }
  .opt_lecture_cat_page_top .select-tag-list ul li.selected::before {
    color: var(--main-color);
    opacity: 1;
  }
  .opt_lecture_cat_page_top .select-tag-list ul li a {
    padding: 0;
  }
  .opt_lecture_cat_page_top .select-tag-list ul li.selected a {
    color: var(--main-color);
  }

  .opt_lecture_page {
    padding-top: 0;
    padding-bottom: 0;
    min-height: unset;
  }
  .opt_lecture_left {
    display: none;
  }
  .opt_lecture_right {
    width: 100%;
  }
  .opt_lecture_title {
    display: none;
  }
}

.opt_lecture_loader {
  width: 100%;
}
.opt_lecture_more {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opt_lecture_more button {
  cursor: pointer;
  color: var(--main-color);
  color: #2d3748;
}
