.quran-slider {
    .slide-content {
      display: flex;
      align-items: center;
    }
  
    .left-image {
      width: 50%;
    }
  
    .right-content {
      width: 50%;
      padding: 20px;
    }
    .slide-conten{
        display: flex;
    }
  
    /* Add the rest of your SCSS */
  }
  